<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wellcome to my site</title>

    <style>
        body {
            background-color:green;
            min-height: 100vh;
            display: grid;
            align-content: center;
            font-size: 50px;
            color:white;
        }
    </style>
</head>
<body>
    <h1>Hello my friend {{username}}</h1>

    <p>You ask for this message on {{date}}</p>
    <a href="{{url}}">We wait for you come soon</a>
</body>
</html>